<ion-header>
  <ion-toolbar color='primary' padding>
    <ion-title>
      <img src="../../assets/imgs/logo.png" height="60">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce padding>
</ion-content>

<ion-footer *ngIf="currentFile.file">
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row align-items-center id="media-controls">
        <button clear ion-col ion-button (click)="openMenu()">
          <ion-icon color="light" name="add-circle"> </ion-icon>
        </button>
        <button clear ion-col ion-button *ngIf="!state.playing" (click)="play()">
          <ion-icon color="light" name="play"></ion-icon>
        </button>
        <button clear ion-col ion-button *ngIf="!!state.playing" (click)="pause()">
          <ion-icon color="light" name="pause"></ion-icon>
        </button>
        <button clear ion-col ion-button [disabled]="isLastPlaying()" (click)="next()">
          <ion-icon color="light" name="arrow-dropright-circle"></ion-icon>
        </button>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar class="secondFooter" color="primary">
      <img src="../../assets/imgs/footer.png" height="35">
  </ion-toolbar>
</ion-footer>
