page-home {
  .scroll-content{
    overflow-y: hidden;
    padding-top: 30px;
  }

  ion-header {
    text-align: center;
  }

  ion-content {
    background-image: url('../../assets/imgs/home.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    overflow: hidden;
  }

  #media-controls {
    button {
      ion-icon {
        font-size: 3rem;
      }
    }
  }

  ion-footer {
    text-align: center;
  }
}